[submodule "markets/perps-market/lib/forge-std"]
	path = markets/perps-market/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "markets/perps-market/lib/cannon-std"]
	path = markets/perps-market/lib/cannon-std
	url = https://github.com/usecannon/cannon-std
